

/* outer main container UI
*/
#main_container{
  background-color:#ebd8e5;
  width:95%;
  margin:auto;
  margin-bottom:5px;
}


/* apply flex to image and other contents components */

.recipe_container{
	display:flex;
  align-items: center;
}
.recipe_image{
  flex:2;
  text-align: center;
}
.recipe_content{
  flex:3;
}



/* image dimentions */

#image{
  height: 400px;
  width: 400px;
  border: 2px solid black;
}


/*styling of ingredient component */

.ingredient_container{
   text-align: left;
  padding: 20px;
  background-color:#f7ccc6;
  height: 250px;
  overflow: scroll;
  margin-right: 20px;
  line-height: 2em;
}

/*styling of refresing icon */

#refresh_icon{
  text-align: center;
  margin-bottom: 10px;
}


/* title for recipe component*/

#recipe_title{
  margin: 10px 0px;

  text-align: center;
}









