.header{
  display: flex;
  color: #4a3f3c;
  background-color: #fce174;
  justify-content: center;
  align-items: center;
  font-size:none;
}

#header_icon_none{
  font-size: 1.5em;
position: absolute;
left: 90%;
}

#header_icon_none{
  cursor: pointer;
}

#header_icon_red{
  font-size: 1.5em;
position: absolute;
left: 90%;
color:red;

}
#header_icon_red{
  cursor: pointer;
}