@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
* {
  margin: 0px;
  font-family: "Courgette", cursive;
}
body {
  background-color: #80ceed;
}

.App {
  height: 100vh;
}
